* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

html,
body {
  height: 100%;
  width: 100%;
}
body {
  background-color: #111;
}
main {
  height: 100vh;
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

img {
  width: 300px;
  height: 300px;
  cursor: pointer;
}

@media (max-width: 600px) {
  img {
    width: 100px;
    height: 100px;
  }
}
